<h3
        style="font-weight:bold;text-align:left;margin:0;font-size:20px;padding:32px 24px 0px 24px"
>
    Сброс пароля от аккаунта {{login}}
</h3>
<div style="font-weight:normal;padding:16px 24px 16px 24px">
    Скопируйте код ниже, а затем вставьте на сайте Provve:
</div>
<div style="padding:16px 24px 16px 24px">
    <div
            style="color:#5daafa;background-color:#ffffff;font-size:15px;font-weight:bold;padding:16px 24px 16px 24px"
    >
        {{reset_token}}
    </div>
</div>
<div style="padding:16px 0px 16px 0px">
    <hr
            style="width:100%;border:none;border-top:1px solid #CCCCCC;margin:0"
    />
</div>
<div
        style="color:#474849;font-size:14px;font-weight:normal;text-align:left;padding:8px 24px 16px 24px"
>
    Если вы не запрашивали сброс, не волнуйтесь. Вы можете спокойно
    проигнорировать это письмо.
</div>